<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.deataworld.accountMapper">
	<!-- 닉네임 중복검사 -->
	<select id="m_nickChk" parameterType="String" resultType="java.lang.Integer">		
		select count(*)
		from member
		where m_nick = #{m_nick}			
  	</select>
  	
  	<!-- 아이디 중복검사 -->
  	<select id="m_idChk" parameterType="String" resultType="java.lang.Integer">		
		select count(*)
		from member
		where m_id = #{m_id}			
  	</select>
  	
	<!-- 회원가입 : member 테이블과 point 테이블 insert -->  	
  	<insert id="register" parameterType="MemberDTO">
	    insert into member(
			m_id,
			m_password,
			m_name,
			m_nick,
			m_age,
			m_gender,
			m_phone,
			m_address1,
			m_address2,
			m_picture,
			m_email,
			m_terms1,
			m_terms2,
			m_regdate,
			m_warned,
			m_banned,
			m_quitted,
			m_type
		)values(
			#{m_id},
			#{m_password},
			#{m_name},
			#{m_nick},
			#{m_age},
			#{m_gender},
			#{m_phone},
			#{m_address1},
			#{m_address2},
			#{m_picture},
			#{m_email},
			#{m_terms1},
			#{m_terms2},
			curdate(),
			#{m_warned},
			#{m_banned},
			#{m_quitted},
			#{m_type}
		)
    </insert>
    <insert id="registerPoint" parameterType="MemberDTO">
    	insert into point(
			point,
			m_id
		)values(
			500,
			#{m_id}
		)
    </insert>
  	
  	<!-- 로그인 -->
  	<select id="login" parameterType="java.util.Map" resultType="java.util.Map">
  		select
  			A.m_id, A.m_nick, A.m_type, B.point
  		from member as A
  		inner join point as B
  			on A.m_id = B.m_id
  		where
  			A.m_id = #{inputId}
  			and A.m_password = #{inputPassword}
  	</select>
  	
</mapper>