<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.deataworld.adminMapper">

	<!-- 전체 구직자 수 -->
	<select id="employeeCnt" resultType="java.lang.Integer">
		select count(*) from member
		where m_type = 1
	</select>
	
	<!-- 구직자 회원 조회(페이징 처리) -->
	<select id="employeeList" resultType="MemberDTO">
		select
			m_id,	<!-- ID -->
			m_nick,	<!-- 닉네임 -->
			date(m_regdate) as m_regdate, <!-- 가입일 -->
			m_warned,	<!-- 경고상태 -->
			m_number	<!-- 구직자 번호(상세정보) -->
		from member
		where m_type = 1
		order by m_number desc
		limit #{pageStart}, #{pagePerList}
	</select>
	
	<!-- 전체 구인자 수 -->
	<select id="employerCnt" resultType="java.lang.Integer">
		select count(*) from member
		where m_type = 2
	</select>
	
	<!-- 구인자 회원 조회(페이징 처리) -->
	<select id="employerList" resultType="MemberDTO">
		select
			m_id,	<!-- ID -->
			m_nick,	<!-- 닉네임 -->
			date(m_regdate) as m_regdate, <!-- 가입일 -->
			m_warned,	<!-- 경고상태 -->
			m_number	<!-- 구직자 번호(상세정보) -->
		from member
		where m_type = 2
		order by m_number desc
		limit #{pageStart}, #{pagePerList}
	</select>
	
	
</mapper>