<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.deataworld.boardMapper">





<!-- 글 전체목록 -->
	<select id="list" resultType="BoardDTO">
		
		select *
		from board
		where b_code = 0
		and del = 0
		order by b_number desc
		
		
	</select>
	
	<!-- 글 내용확인 -->
	<select id="detail" parameterType="java.lang.Integer"
		resultType="BoardDTO">
		select * from board
		where b_number = #{b_nember}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateReadCnt" parameterType="java.lang.Integer">
		update board
		set
		b_hits
		= b_hits + 1
		where b_number = #{b_number}

	</update>
	
	<!-- 글 쓰기 -->
	<insert id="register" parameterType="BoardDTO">
		insert into board(b_number,b_code,b_title,b_contents,b_hits,b_date,m_id,m_nick ,del)
		values (#{b_number}, 0,
		#{b_title}, #{b_contents},#{b_hits},curdate(), #{m_id},#{m_nick} ,0)
		
	</insert>
	
	<!-- 글 수정 -->
	<update id="update" parameterType="BoardDTO">
		update board
		set
		b_title = #{b_title}, b_contents = #{b_contents}, b_date = curdate()
		where b_number = #{b_number}
	</update>
	
	<!-- 글 삭제 del 컬럼을 작성하여 1로 변경 -->
	<update id="delete" parameterType="java.lang.Integer">
		update board
		set
		del = 1
		where
		b_number = #{b_number}
	</update>
	
	<!-- 댓글목록 조회 , 게시글 번호에 해당되는 조회 -->
	<select id="detail1" parameterType="java.lang.Integer"	resultType="CommentsDTO">
		select *
		from comments
		where b_number = #{b_number} and del = 0
		order by c_number desc

	</select>
	
	<!-- 땡빵 글보여주기 목록 -->
	<select id="tempingList" resultType="BoardDTO">
		
		select *
		from board
		where b_code = 1 and del = 0
		order by b_number desc
		
	</select>
	
	<!-- 땜빵글 내용확인 -->
	<select id="tempinggetDetail" parameterType="java.lang.Integer" resultType="BoardDTO">
	
		select * from board
		where b_number = #{b_number}
	
	
	</select>
	<!-- 떔빵 조회수 -->
	<update id="tempingUpdateReadCnt" parameterType="java.lang.Integer">
		update board
		set
		b_hits
		= b_hits + 1
		where b_number = #{b_number}

	</update>
	
	<!-- 떙빵 글 쓰기 -->
	<insert id="tempingRegister" parameterType="BoardDTO">
		insert 
		into board(b_number,b_code,b_title,b_contents,b_hits,b_date,m_id,m_nick ,del)
		values (#{b_number}, 1, #{b_title}, #{b_contents},#{b_hits},now(), #{m_id},#{m_nick} ,0)
		
	</insert>
	
	<!-- 떔빵글 수정 -->
	<update id="tempingUpdate" parameterType="BoardDTO">
		update board
		set
		b_title = #{b_title}, b_contents = #{b_contents}, b_date = now()
		where b_number = #{b_number}
	</update>
	
		<!--떔빵글 삭제 del 컬럼을 작성하여 1로 변경 -->
	<update id="tempingDelete" parameterType="java.lang.Integer">
		update board
		set
		del = 1
		where
		b_number = #{b_number}
	</update>
	
	<select id="getBoardList" resultType="BoardDTO">
	
			SELECT			
			b_number,b_code,b_title,b_contents,b_hits,b_date,m_id,m_nick ,del		
			FROM			
			board		
			LIMIT #{startList}, #{listSize}	
			
	</select>
	
	<select id="getBoardListCnt" resultType="int">		
	SELECT			
	count(*) as listCnt		
	FROM			
	board	
	</select>

	
	
	
	
</mapper>