<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.deataworld.employerMapper">
	<!-- 내 정보보기 -->
	<select id="myInfo" parameterType="String" resultType="MemberDTO">
		select *
		from member
		where m_type = 2 and m_id = #{id}
	</select>
	
	<!-- 내 정보수정 -->
	<update id="myInfoUpdate" parameterType="MemberDTO">
		update member
		set m_nick = #{m_nick}, m_password = #{m_password}, m_phone = #{m_phone}, 
			m_address1 = #{m_address1}, m_address2 = #{m_address2}, 
			m_terms1 = #{m_terms1}, m_terms2 = #{m_terms2}, m_picture = #{m_picture},
			m_email = #{m_email}
		where m_type = 2 and m_number = #{m_number}
	</update>
	
	<!-- 등록한 가게 목록보기 -->
	<select id="shopManagement" parameterType="String" resultType="ShopInfoDTO">
		select *
		from shop_info
		where m_id = #{id}
	</select>
	
	<!-- 등록한 가게 정보보기 -->
	<select id="shopInfo" parameterType="String" resultType="ShopInfoDTO">
		select *
		from shop_info
		where s_name = #{s_name}
	</select>
	
</mapper>