<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.deataworld.employee">

<!-- 내 정보 불러오기(구직자) -->
<select id="myInfo" resultType="EmployeeEntity">
	SELECT * FROM daetaworld.employee
	WHERE e_id = 'user';
</select>

<!-- 닉네임 변경 시 중복검사(구직자)-->
<select id="e_nick" parameterType="String" resultType="java.lang.Integer">
	select sum(cnt) from(
	select count(*) as cnt
	from daetaworld.employer as r
	where r.r_nick = #{e_nick}
	union all
	select count(*) as cnt
	from daetaworld.employee as e
	where e.e_nick = #{e_nick}
	)tbl;
</select>

<!-- 구직자 회원정보 수정 -->
<update id="myInfoUpdate" parameterType="EmployeeEntity">
	UPDATE daetaworld.employee
	SET
	e_password = #{e_password},
	e_nick = #{e_nick},
	e_phone = #{e_phone},
	e_address1 = #{e_address1},
	e_address2 = #{e_address2},
	e_picture = #{e_picture},
	e_email = #{e_email},
	e_terms1 = #{e_terms1},
	e_terms2 = #{e_terms2},
	inform_agreement = #{inform_agreement},
	inquiry_agreement = #{inquiry_agreement},
	e_regdate = now(),
	WHERE e_number = #{e_number}; 
</update>




</mapper>
