<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.deataworld.notificationMapper">
	<!-- 로그인 유저의 알림목록 -->
	<select id="notificationList" parameterType="java.lang.String" resultType="java.util.Map">
		select * from notification
		where m_id = #{m_id}
		order by n_number desc
	</select>
	
	<!-- 알림타입 1: 구직자가 공고지원 신청 시 구인자에게 알림발송 -->
	<insert id="insertNotiType1" parameterType="java.util.Map">
		insert into notification(
			m_id, n_type, s_name
		)values(
			#{m_id}, #{n_type}, #{s_name}
		)
	</insert>
	
	<!-- 알림타입 2: 구직자가 구인자의 주변노예 요청을 수락/거절하면 구인자에게 알림발송 -->
	<insert id="insertNotiType2" parameterType="java.util.Map">
		insert into notification(
			m_id, n_type, ja_status
		)values(
			#{m_id}, #{n_type}, #{ja_status}
		)
	</insert>
	
	<!-- 알림타입 3: 구직자가 후기 작성 시 구인자에게 알림발송 -->
	<insert id="insertNotiType3" parameterType="java.util.Map">
		insert into notification(
			m_id, n_type, s_name
		)values(
			#{m_id}, #{n_type}, #{s_name}
		)
	</insert>
	
	<!-- 알림타입 4: 구직자가 구인자 후기에 대한 댓글 작성 시 구인자에게 알림발송 -->
	<insert id="insertNotiType4" parameterType="java.util.Map">
		insert into notification(
			m_id, n_type, s_name
		)values(
			#{m_id}, #{n_type}, #{s_name}
		)
	</insert>
	
	
	<!-- 알림타입 6: 구인자가 구직자에게 주변노예 요청을 하면 해당 구직자에게 알림발송 -->
	<insert id="insertNotiType6" parameterType="java.util.Map">
		insert into notification(
			m_id, n_type
		)values(
			#{m_id}, #{n_type}
		)
	</insert>
	
	<!-- 알림타입 7: 구인자가 구직자의 공고지원을 수락/거절하면 구직자에게 알림발송 -->
	<insert id="insertNotiType7" parameterType="java.util.Map">
		insert into notification(
			m_id, n_type, s_name, ja_status
		)values(
			#{m_id}, #{n_type}, #{s_name}, #{ja_status}
		)
	</insert>
	
	<!-- 알림타입 8: 구인자가 후기 작성 시 구직자에게 알림발송 -->
	<insert id="insertNotiType8" parameterType="java.util.Map">
		insert into notification(
			m_id, n_type, s_name
		)values(
			#{m_id}, #{n_type}, #{s_name}
		)
	</insert>
	
	<!-- 알림타입 9: 구인자가 구직자 후기에 대한 댓글 작성 시 구직자에게 알림발송 -->
	<insert id="insertNotiType9" parameterType="java.util.Map">
		insert into notification(
			m_id, n_type, s_name
		)values(
			#{m_id}, #{n_type}, #{s_name}
		)
	</insert>
	
	
	<!-- 알림타입 10: 회원이 자유게시판 글/댓글, 땜빵게시판 글/댓글, 구인공고 5가지 중 신고를 당해 경고처리가 되면 신고내용 알림발송 -->
	<insert id="insertNotiType10" parameterType="java.util.Map">
		insert into notification(
			m_id, n_type, r_type, r_kind
		)values(
			#{m_id}, #{n_type}, #{r_type}, #{r_kind}
		)
	</insert>
	
	
	<!-- 알림타입 11: 구직자, 구인자가 자유게시판 글 신고를 받으면 해당 게시글 번호로 관리자에게 신고내용 알림발송 -->
	<insert id="insertNotiType11" parameterType="java.util.Map">
		insert into notification(
			m_id, n_type, b_number, c_number, a_number
		)values(
			#{m_id}, #{n_type}, #{b_number}, #{c_number}, #{a_number}
		)
	</insert>
	
	<!-- 알림타입 12: 구직자, 구인자가 자유게시판 댓글 신고를 받으면 해당 댓글 번호로 관리자에게 신고내용 알림발송 -->
	<insert id="insertNotiType12" parameterType="java.util.Map">
		insert into notification(
			m_id, n_type, b_number, c_number, a_number
		)values(
			#{m_id}, #{n_type}, #{b_number}, #{c_number}, #{a_number}
		)
	</insert>
	
	<!-- 알림타입 13: 구직자가 땜빵게시판 글 신고를 받으면 해당 게시글 번호로 관리자에게 신고내용 알림발송 -->
	<insert id="insertNotiType13" parameterType="java.util.Map">
		insert into notification(
			m_id, n_type, b_number, c_number, a_number
		)values(
			#{m_id}, #{n_type}, #{b_number}, #{c_number}, #{a_number}
		)
	</insert>
	
	<!-- 알림타입 14: 구직자가 땜빵게시판 댓글 신고를 받으면 해당 댓글 번호로 관리자에게 신고내용 알림발송 -->
	<insert id="insertNotiType14" parameterType="java.util.Map">
		insert into notification(
			m_id, n_type, b_number, c_number, a_number
		)values(
			#{m_id}, #{n_type}, #{b_number}, #{c_number}, #{a_number}
		)
	</insert>
	
	<!-- 알림타입 15: 구인자가 구인공고 글 신고를 받으면 해당 게시글 번호로 관리자에게 신고내용 알림발송 -->
	<insert id="insertNotiType15" parameterType="java.util.Map">
		insert into notification(
			m_id, n_type, b_number, c_number, a_number
		)values(
			#{m_id}, #{n_type}, #{b_number}, #{c_number}, #{a_number}
		)
	</insert>
	
	<!-- 알림목록 수 -->
	<select id="notificationCnt" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*) from notification
		where m_id = #{m_id}
	</select>
	
	<!-- 알림목록 전체 삭제 -->
	<delete id="deleteAll" parameterType="java.lang.String">
		delete from notification
		where m_id = #{m_id}
	</delete>
	
	<!-- 알림목록 타입 별 삭제 -->
	<delete id="deletePart" parameterType="java.util.Map">
		delete from notification
		where m_id = #{m_id} and n_type = #{n_type}
	</delete>
</mapper>