<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="kr.co.deataworld.dto.MainAdsDTO" alias="MainAdsDTO"/>
		<typeAlias type="kr.co.deataworld.dto.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="kr.co.deataworld.dto.ShopInfoDTO" alias="ShopInfoDTO"/>
		<typeAlias type="kr.co.deataworld.dto.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="kr.co.deataworld.dto.BlacklistDTO" alias="BlacklistDTO"/>
		<typeAlias type="kr.co.deataworld.dto.JobAdsDTO" alias="JobAdsDTO"/>
		<typeAlias type="kr.co.deataworld.dto.AreaCodeDTO" alias="AreaCodeDTO"/>
		<typeAlias type="kr.co.deataworld.dto.JobAdsReportDTO" alias="JobAdsReportDTO"/>
		<typeAlias type="kr.co.deataworld.dto.CommentsDTO" alias="CommentsDTO"/>
		
	</typeAliases>
</configuration>