@charset "UTF-8";
.header-hr {
	margin: 0;
}

.text-middle {
	text-align: center;
}

.id-text {
	font-size: 16px;
	vertical-align: middle;
}

.report-tag-hover:hover {
	color: #000 !important;
}

.text-ellipsis {
    width: 350px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.current-btn {
	cursor: context-menu;
}

.disabled-btn {
	cursor: context-menu;
	color: #fff !important;
	background: #aaa !important;
}
.disabled-btn:hover {
	background: #aaa !important;
	border-color: #fff !important;
}

.font-bold {
	font-weight: bold;
}

.padding-zero {
	padding: 0;
}

.point-text {
	width: 150px;
	height: 200px;
	font-size: 34px;
	font-weight: bold;
}