@charset "UTF-8";
.menu-ul {
	justify-content: center;
}

.menu-ul > li {
	padding: 0 16px !important;
}

.label-alarm {
	background-color: #ff2626;
	position: absolute;
    top: -15px;
    right: -8px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: capitalize;
    padding: 0 10px;
    border-radius: 3px;
    color: #fff;
    margin: 0;
}

.alarm-hover:hover {
	color: #dc3545;
}

.drdn-item {
	font-weight: 100 !important;
}

.last {
	text-align: center;
}

.profile-image {
	width: 2rem;
}

.user-hover:hover {
	color: #007bff;
}

.profile-container {
	display: flex;
	width: 2.2rem;
	height: 2.2rem;
	overflow: hidden;
	align-items: center;
	cursor: pointer;
}

.usermenu-width {
	width: 10em;
	display: flex;
	justify-content: center;
}

.usermenu-content {
	display: flex;
	align-items: center;
}

.logout-width {
	width: 5em;
}

.tooltip-text {
    display: none;
    position: absolute;
    border: 2px solid;
    border-radius: 5px;
    border-color: #bbb;
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
    background: #fff;
    text-align: center;
    z-index: 2;
}

.drdn-item:hover .tooltip-text {
  display: block;
}