@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
.banner {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner > img {
	width: 40%;
	margin: 2rem;
}
.logo {
	position: absolute;
	left: 1rem;
	top: 2rem;
	width: 25%;
	display: flex;
	justify-content: center;
}
.logo > img {
	width: 50%;
}
.login-area {
	position: absolute;
	right: 1rem;
	top: 2rem;
	width: 22%;
	text-align: center;
}
.login-menu {
	margin: 0.5rem;
}
.login-btn {
	width: 100% !important;
}
.header-menu {
	display: flex;
	justify-content: center;
	font-size: 16px;
	color: #888;
}
.header-menu > ul > li {
	margin: 1rem;
}
.item {
	display: flex;
	align-items: center;
}
.login-info {
	margin: 0.5rem;
	font-size: 16px;
}
.login-info-btn {
	width: 100% !important;
	margin: 0.5rem;
}