@charset "UTF-8";
.hr-style {
	width: 100%;
	outline: 1px solid #eee;
}

.menu-ul {
	justify-content: center;
}

.menu-ul > li {
	padding: 0 16px !important;
}

#sub-title2 {
	font-size: 35px;
	color: #aaa;
}

#urgency-title {
	font-size: 19px;
	margin-bottom: 1rem;
	padding-top: 1rem;
}

#urgency-icon {
	color: #ff5e5e;
}

.urgency-money {
	color: #ff2626;
	font-weight: 600;
}

.score {
	color: #333;
}

.shop-image {
	width: 20rem;
}

.tag-cursor {
	cursor: context-menu;
}

.balance-area {
	padding: 4rem 0 !important;
}

#balance {
	display: inline-flex;
	width: 8rem;
	justify-content: center;
	color: #0898d5;
	font-size: 50px;
}

#money1 {
	display: inline-flex;
	width: 2.7rem;
	justify-content: center;
}

#money2 {
	display: inline-flex;
	width: 3.1rem;
	justify-content: center;
}

#money3 {
	display: inline-flex;
	width: 3.4rem;
	justify-content: center;
}

#money4 {
	display: inline-flex;
	width: 3.9rem;
	justify-content: center;
}

.ranking {
	text-align: center;
}

.trophy-gold {
	color: #ffbf02;
}

.trophy-silver {
	color: #bbb;
}

.trophy-bronze {
	color: #d17a2f;
}

.star-color {
	color: #ffbf02;
}

.ranking-info {
	margin: 0;
	font-size: 14px;
	color: #888;
	text-align: left;
}

#balance-table {
	text-align: center;
}

.tr-background {
	background: #fefefe;
}

.middle-align {
	display: flex;
	justify-content: center;
}

.link-btn {
	width: 17rem !important;
	height: 4rem !important;
	text-align: center;
	margin: 0.5rem;
	line-height: 1.8 !important;
}

.margin-middle {
	margin: 0 auto;
}

.icon-hidden {
	visibility: hidden;
}